body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #020617;
  color: #e5e7eb;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

h1, h2 {
  color: #ec4899;
}

p {
  line-height: 1.7;
}

/* NAV */
.nav {
  background: #0f172a;
  padding: 10px;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
}

/* HERO */
.hero-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero img {
  width: 150px;
  border-radius: 50%;
}

/* BUTTON */
.btn {
  padding: 10px 20px;
  background: #ec4899;
  border: none;
  color: white;
  cursor: pointer;
}

/* SKILLS */
#skills-grid div {
  margin-bottom: 20px;
}

/* PROJECT FLIP */
.project-card {
  perspective: 1000px;
  margin-bottom: 20px;
  cursor: pointer;
}

.project-inner {
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.project-card.flipped .project-inner {
  transform: rotateY(180deg);
}

.project-front, .project-back {
  position: absolute;
  width: 100%;
  padding: 20px;
  background: #0f172a;
  backface-visibility: hidden;
}

.project-back {
  transform: rotateY(180deg);
}

/* CARDS */
.card {
  background: #0f172a;
  padding: 15px;
  margin: 10px 0;
  cursor: pointer;
}
